# Import Library

KELOMPOK 13
- FATMAH
- NAILA ZULFA NABILA
- RIZQI DARMAWAN
- YOGA ULYA MUBAROK

In [1]:
pip install scipy

Requirement already satisfied: scipy in c:\users\naila\appdata\local\programs\python\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\naila\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Read Dataset

In [2]:
df = pd.read_csv('ab_data.csv')

In [3]:
df.shape

(294478, 5)

In [4]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [25]:
df['landing_page'].value_counts()

landing_page
old_page    147239
new_page    147239
Name: count, dtype: int64

In [21]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

# Langkah 1

Apakah rata rata converted old_page > converted new_page

H0 : rata-rata converted old_page **sama dengan atau kurang dari** converted new_page <br>
H1 : rata-rata converted old_page **lebih dari**  converted new_page

In [22]:
#?st.ttest_ind

In [26]:
old_page = df[df['landing_page']=='old_page']
new_page = df[df['landing_page']!='old_page']

In [29]:
old_page.head()

   user_id                   timestamp    group landing_page  converted
0   851104  2017-01-21 22:11:48.556739  control     old_page          0
1   804228  2017-01-12 08:01:45.159739  control     old_page          0
4   864975  2017-01-21 01:52:26.210827  control     old_page          1
5   936923  2017-01-10 15:20:49.083499  control     old_page          0
7   719014  2017-01-17 01:48:29.539573  control     old_page          0

In [28]:
new_page.head()

   user_id                   timestamp      group landing_page  converted
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

# Langkah 2

In [31]:
old_page['converted'].mean()

np.float64(0.12047759085568362)

In [32]:
new_page['converted'].mean()

np.float64(0.11884079625642663)

# Langkah 3 & 4

In [1]:
#?st.ttest_ind

In [35]:
# langkah 3
ttest = st.ttest_ind(a = old_page['converted'], b=new_page['converted'])
p_value = ttest.pvalue

# langkah 4
print('P-Value :',p_value)
if p_value >= 0.05:
    print('Tidak cukup bukti menyatakan bahwa rata-rata converted old_page lebih dari converted new_page')
else:
    print('Cukup bukti menyatakan (Tolak H0) bahwa rata-rata converted old_page lebih dari converted new_page')

P-Value : 0.17120864585270731
Tidak cukup bukti menyatakan bahwa rata-rata converted old_page lebih dari converted new_page

# Case 2 ANOVA

In [38]:
df2 = pd.read_csv('ab_data.csv')

# Langkah 1
# H0 : Rata-rata landing page sama
# H1 : Rata-rata landing page berbeda

# Langkah 2
df_old_page = df2[df2['landing_page'] == 'old_page']
df_new_page = df2[df2['landing_page'] == 'new_page']

In [39]:
df2.groupby(['landing_page'])['converted'].mean()

landing_page
new_page    0.118841
old_page    0.120478
Name: converted, dtype: float64

In [40]:
# Langkah 3
anova = st.f_oneway(df_old_page['converted'],df_new_page['converted'])

In [41]:
pvalue = anova.pvalue
print(pvalue)
if pvalue >= 0.05:
  print('Insufficient Reject H0')
else:
  print('Sufficient Reject H0')

0.17120864586157772
Insufficient Reject H0